RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.arzan-remont\.kz$ [NC]
RewriteRule ^(.*)$ https://arzan-remont.kz/$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://arzan-remont.kz/$1 [R=301,L]
ErrorDocument 404 /404.html
